[defaults]
inventory = inventory.yml
vault_password_file = .vault_password
host_key_checking = False
stdout_callback = yaml
interpreter_python = auto_silent
retry_files_enabled = False

[inventory]
enable_plugins = yaml, ini

[winrm]
# pywinrm is required on the control node: pip install pywinrm
